body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --main-color: #03a9f4;
}

img {
    width: 100%;
    object-fit:contain ;
}

.bg-main {
    background-image: url(../../img/background\ img.JPG);
    background-size: cover;
    width: auto;
    height: 755px;
    background-attachment: fixed;
}
.bg-footer {
    background-color: var(--main-color);