/* base */
@import "../base/base.css";
@import "../base/layout.css";

/* 3rd-party */
@import "../3rd-party/font-awesome.min.css";

/* components */
@import "../components/button.css";
@import "../components/clock.css";
@import "../components/form.css";
@import "../components/mouse.css";
@import "../components/progress-bar.css";

/* custom style goes below this comment line */

/* HERO - start */
.hero {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-height: 100vh;
}
.hero > .logo2 {
    width: auto;
    height: 80px;

}
.hero > .title {
    font-size: 60px;
    text-transform: uppercase;
}

.hero > .description {
    font-size: 22px;
}

/* HERO - end */

/* MAIN - start */
.main-content {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.column {
    display:flex;
    flex-direction: column;
    gap: 30px;
}
.left-column {
    width: 50%;

}
.right-column {
    width: 40%;
}
.section-title {
    text-transform: uppercase;
    font-size: 20px;
}
.section-description {
    font-size: 18px;
    color: #777;
}
.section-description > a {
    text-decoration: none;
    color: red;
}
.section-description > a:hover {
    text-decoration: underline;
    color: darkred;
}

/* MAIN - end */

/* FOOTER - start */
.bg-main {
    background-image: url(../../img/background\ img.JPG);
    background-size: cover;
    width: auto;
    height: 755px;
    background-attachment: fixed;
}
.bg-footer {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bg-footer > .row-short > img {
    width: auto;
    height: 60px;
}
.bg-footer > .logo3 {
    height: 60px;
    margin: 40px;
}
.bg-footer > .row-short > .futeriukai {
    justify-content: center;
    display: flex;
    gap: 30px;
}
/* FOOTER - end */
.futeriukai > * {
    position: relative;
}
.futeriukai > *::after {
    display: inline-block;
    content: "";
    width: 2px;
    height: 20px;
    background-color: red;

    position: absolute;
    top: 50%;
    right: -15px;
    transform: translate(50%, -50%);
}
.futeriukai > *:last-child::after {
    display: none;
}

.socials {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 15px 0;
    border-bottom: 2px solid #fff;
}

.socials > a {
    width: 10px;
    height: 10px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    font-size: 20px;
    color: white;
}

